.wrapper {
    display: flex
}

.left {
    flex: 1;
    padding: 10px;
}

.middle {
    flex: 1;
    padding: 10px;
}

.right {
    flex: 1;
    padding: 10px;
}

.hr {
    flex: 1;
    padding: 10px;
    margin: 10px;
}

.heading {
    font-size: larger;
    font-weight: 500;
}

.center {
    display: flex;
    align-items: center;
    justify-content: space-between;
}